$blue: #23bfd5;

$green: #1ab152;

$red: #980c0c;

$bg-blue-1: #a5bbc6;
$bg-blue-2: #aec3cc;
$bg-greylight-1: #DFD9DB;
$bg-greylight-2: #e2dedf;
$bg-greylight-3: #f4f4f4;
$bg-greydark: #303030;

$text: #646464;
$border: #b7b7b7;