
body {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, p {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	display: block;
	position: relative;
	z-index: 1;
}

header, article, section, aside, footer, div {
	display: block; 
	position: relative;
	z-index: 1;
}

ul, li {
	padding: 0px;
	margin: 0px;
}

ul {
	padding-left: 25px;
	margin-bottom: 15px;
}

a {
	color: inherit;
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}

form {
	
	input {
		border: 0;
		outline: 0 !important;
	}
}

img {
	border: 0;
}
